<form [formGroup]="searchProductForm" class="search-form">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Ingrese la palabra clave</mat-label>
    <input matInput formControlName="title" (input)="submitForm()">
    <button mat-button matSuffix color="primary" [disabled]="searchProductForm.invalid">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="pagination-input">
    <mat-label>Número de Página</mat-label>
    <input matInput formControlName="page" type="number" min="0" (input)="submitForm()">
  </mat-form-field>

  <mat-form-field appearance="outline" class="pagination-input">
    <mat-label>Tamaño de Página</mat-label>
    <input matInput formControlName="size" type="number" min="1" (input)="submitForm()">
  </mat-form-field>

  <mat-form-field appearance="outline" class="sort-input">
    <mat-label>Ordenar por</mat-label>
    <mat-select formControlName="sortField" (selectionChange)="submitForm()">
      <mat-option value="id">ID</mat-option>
      <mat-option value="nombre">Nombre</mat-option>
      <mat-option value="precio">Precio</mat-option>
      <!-- Agrega más opciones de orden según sea necesario -->
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="sort-input">
    <mat-label>Orden</mat-label>
    <mat-select formControlName="sortOrder" (selectionChange)="submitForm()">
      <mat-option value="asc">Ascendente</mat-option>
      <mat-option value="desc">Descendente</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="product-list">
  <mat-card class="product-card" *ngFor="let producto of productos">
    <div class="product-image">
      <img [src]="producto.imageUrl" alt="product-image">
    </div>
    <div class="product-details">
      <h2 class="producto-nombre">{{producto.nombre}}</h2>
      <p class="producto-descripcion">{{producto.descripcion}}</p>
      <mat-divider></mat-divider>
      <div class="producto-info">
        <div class="info-row">
          <span class="info-label">Precio:</span>
          <span class="info-value">Bs{{producto.precio}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Categoria:</span>
          <span class="info-value">{{producto.categorias}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Marca:</span>
          <span class="info-value">{{producto.marca}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Stock:</span>
          <span class="info-value">{{producto.stock}}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="actions">
        <ng-container *ngIf="authService.getRole() === 'EMPLEADO'">
          <button mat-raised-button color="primary" class="update-button" [routerLink]="">FAQ</button>
          <button mat-raised-button color="accent" class="update-button" [routerLink]="'/admin/producto/' + producto.id">Update</button>
          <button mat-raised-button color="warn" class="delete-button" (click)="deleteProducto(producto.id)">Delete</button>
        </ng-container>
        <ng-container *ngIf="authService.getRole() === 'Comprador'">
          <div class="comprador-actions">
 <button mat-raised-button color="primary" (click)="openQuantityDialog(producto)">Agregar al carrito</button>
           <button mat-raised-button color="accent" class="rate-button" (click)="rateProduct(producto.id)">Calificar</button>
            <button mat-raised-button color="primary" class="comment-button" (click)="commentOnProduct(producto.id)">Comentarios</button>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card>
</div>

<mat-paginator [length]="totalPages * pageSize" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="onPageChange($event)"></mat-paginator>

