<div class="carrito-compras">
    <h2>Carrito de Compras</h2>

    <div *ngIf="productos.length > 0; else carritoVacio">
        <div *ngFor="let producto of productos">
            <div class="producto">
                <span>{{ producto.nombre }}</span>
                <span>{{ producto.precio }}</span>
                <button (click)="eliminarProducto(producto)">Eliminar</button>
                <input type="number" [(ngModel)]="producto.cantidad" (change)="actualizarCantidad(producto)">
            </div>
        </div>

        <div class="suma-total">
            <span>Total: {{ calcularTotal() }}</span>
        </div>
    </div>

    <ng-template #carritoVacio>
        <p>No hay productos en el carrito.</p>
    </ng-template>
</div>