<div class="container py-5">

<h2 class="mb-5">Nuevo Producto</h2>
<div class="row row-cols-3 justify-content-center">
    @if(form){
  <form [formGroup]= "form" (ngSubmit)="create()">
    <div class="mb-3">
         <label for="name">Nombre</label>
         <input id="name" type="text" placeholder="Nombre" class="form-control" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label for="descripcion">Descripcion</label>
         <input id="descripcion" type="text" placeholder="Descripcion" class="form-control" formControlName="descripcion">
    </div>
<div class="mb-3">
    <label for="precio">Precio</label>
    <input id="precio" type="number" placeholder="Precio" class="form-control" pattern = "^[0-9]*$"  formControlName="precio" step="1" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
    <div class="invalid-feedback d-none">
        Precio es requerido y debe ser un valor numérico.
    </div>
</div>
<div class="mb-3">
      <label for="stock">Stock</label>
         <input id="stock" type="number" placeholder="Stock" class="form-control" pattern = "^[0-9]*$" formControlName="stock" step="1" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57">

</div>
<div class="mb-3">
      <label for="urlimg">Imagen</label>
         <input id="urlimg" type="text" placeholder="Imagen" class="form-control" formControlName="urlimg">
    </div>

<div class="mb-3">
      <label for="categoria">Categoria</label>
        <select name="categoria" id ="cateegoria" formControlName="categoria" class="form-control">
          <option value="item.id" *ngFor="let item of categoria"></option>

        </select>
         <input id="urlimg" type="text" placeholder="Imagen" class="form-control" formControlName="urlimg">
    </div>


<div class="text-end">
        <button type="button" class="btn btn-light" routerLink="/admin/registro-producto"> Cancelar</button>
         <!-- <button class="btn btn-primary ms-2">Crear producto </button> -->
        <button type="submit" class="btn btn-primary ms-2" routerLink="/admin/registro-producto"[disabled]="form.invalid">Crear producto</button>

</div>
  </form>
    }
</div>
</div>
