/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004a67; /* Fondo oscuro */
  height: 100vh;
  width: 100vw;
  padding: 0 !important; /* Eliminar márgenes y rellenos adicionales */
  margin: 0;
  overflow-x: hidden; /* Por si acaso hay algún contenido que haga scroll horizontal */
}

/* Sección central */
.center {
  display: flex;
  flex-direction: row; /* Cambiar a columna para centrar verticalmente */
  align-items: center; /* Centrar elementos verticalmente */
  justify-content: center; /* Centrar elementos horizontalmente */
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #004a67; /* Cambiar al color de fondo deseado */
}


/* Sección izquierda */
.left-section {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #b5babd; /* Color acorde a la imagen */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  max-width: 400px;
}

/* Sección del logo */
.logo-section {
  display: flex;
  justify-content: center;
}

.text-welcome-section, .login-text-section {
  text-align: center;
  color: #ffffff; /* Texto claro */
}

.login-text-section {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}

/* Sección de los campos de entrada */
.email-section, .password-section, .button-section, .help-section {
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
  background-color: #ffffff; /* Fondo de los inputs */
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: box-shadow 0.3s ease;
}
mat-form-field:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Efecto de sombra al pasar el mouse */
}

mat-label {
  color: #004a67 !important; /* Color de las etiquetas de los inputs */
}

.mat-input-element {
  color: #004a67; /* Color del texto de los inputs */
}
.mat-icon {
  color: #004a67 !important;
}

input {
  color: #004a67 !important; /* Color del texto de los inputs */
}

/* Botones */
.example-button-row {
  margin: 5px;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

/* Estilos para el botón de submit */
button[type="submit"] {
  background-color: #004a67; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #003350; /* Color de fondo del botón al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}

/* Estilos para el botón de registro */
button[routerLink="../registro-usuario"] {
  background-color: #2ecc71; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[routerLink="../registro-usuario"]:hover {
  background-color: #27ae60; /* Color de fondo del botón al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}

/* Sección de la imagen */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2%;
}

.image-section img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .image-section {
    display: none;
  }
  .container {
    padding: 2%;
  }
}

/* Alertas */
.alert {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

.alertE {
  background-color: rgb(168, 30, 30);
  color: white;
  padding: 15px;
}
