mat-grid-tile {
    display: flex;
    flex-direction: column;
  }

  .container1 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    
  }
  .container2 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-style: dashed;
    height: 70%;
    color: black;
  }