<div>
  
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="container1">
        <div>
          Bienvenidos a nuestra tienda online, tu destino ideal para encontrar una amplia variedad de productos de alta calidad al mejor precio. En nuestro sitio, nos esforzamos por ofrecerte una experiencia de compra excepcional, con una selección cuidadosamente curada de artículos que van desde tecnología de vanguardia hasta moda y accesorios de las últimas tendencias. ¡Explora, elige y disfruta de una experiencia de compra inigualable!
        </div>

      </div>
      
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container1">
        <div>
          <h1>Bienvenido, {{ username }} mucho gusto de tenerte de nuevo!</h1>
        </div>
        <div>
          <p> Tu ID es: {{ userId }}</p>
        </div>
        <div>
          <p>Y tu Rol es: {{ role }}</p>
        </div>

      </div>
      
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="container2">
        <div>
          <h1>Ve nuestra lista de productos!</h1>
        </div>
        <div>
          <p>Explora nuestra lista de productos, donde encontrarás una amplia gama de opciones organizadas de manera clara y accesible. Cada artículo está acompañado de imágenes detalladas, descripciones completas y reseñas de clientes para ayudarte a tomar decisiones informadas. Usa nuestros filtros y herramientas de búsqueda para encontrar exactamente lo que necesitas, ya sea por categoría, precio, marca u otras especificaciones. Nuestra lista de productos está diseñada para facilitar tu búsqueda y asegurar que encuentres exactamente lo que buscas.</p>
        </div>
        <div>
          <p style="color: blue;">Click aqui para entrar a la lista de productos!</p>
        </div>

      </div>
      
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container2">
        <div>
          <h1>Carrito de compras</h1>
        </div>
        <div>
          <p>Nuestro carrito de compras es tu compañero de compras perfecto, diseñado para ofrecerte una experiencia fluida y eficiente. Aquí puedes revisar todos los artículos que has seleccionado, ajustar cantidades, eliminar productos y ver el total actualizado de tu compra en tiempo real. Además, puedes guardar tus artículos favoritos para comprarlos más tarde. Nuestro sistema asegura que tu proceso de compra sea rápido, seguro y conveniente, permitiéndote finalizar tu pedido con unos pocos clics.</p>
        </div>
        <div>
          <p style="color: blue;">Click aqui para entrar al carrito de compras!</p>
        </div>

      </div>
      
    </mat-grid-tile>
  </mat-grid-list>
</div>

